<nav class="basic-navbar">
    <div class="basic-navbar-brand">
        <span>FitnesCenter</span>
    </div>
    <ul class="basic-nav-links">
        <li class="basic-nav-item"><a href="/~georgivrbsky/src/views/dashboard_page.php" class="basic-nav-link">Dashboard</a></li>
        <li class="basic-nav-item"><a href="/~georgivrbsky/src/views/cviky_page.php" class="basic-nav-link">Cviky</a></li>
        <li class="basic-nav-item"><a href="/~georgivrbsky/src/views/prehled_page.php" class="basic-nav-link">Tydenni postup</a></li>
        <li class="basic-nav-item"><a href="#" class="basic-nav-link">O nas</a></li>
        <li class="basic-nav-item">
            <a href="/~georgivrbsky/public/logout.php" class="basic-nav-link basic-nav-logout">Odhlásit se</a>
        </li>
    </ul>
    </nav>